@use './base.scss';
@use './pages/Dashboard.scss';
@use './pages/Login.scss';
@use './cmps/AppHeader.scss';
@use './cmps/MarketNews.scss';
@use './cmps/CoinPrices.scss';
@use './cmps/Preferences.scss';
@use './cmps/DetailsModal.scss';
@use './cmps/Onboarding.scss';
